@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Noto+Serif+Hebrew:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

:root {
  --background-color: #1e1e1e;
  --foreground-color: white;
  --width: min(40vw, 80vh);
  --height: min(40vw, 80vh);
  --cover-front-bg-image: url("14960493_5532919.jpg");
  --cover-inside-bg-image: url("front.jpg");
  --main-bg-image: url("front.jpg");
}

body {
  overflow-x: hidden;
  background: var(--background-color);
  font-family: 'Noto Serif', 'Noto Serif Hebrew', serif;
  font-size: clamp(0.5rem, 0.8vw, 1rem); 
  color: var(--foreground-color);
}

.wedding-invitation {
  display: block;
  margin-top: 50px;
  position: relative;
  perspective: 1000px;
  width: var(--width);
  height: var(--height);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: transform 1s;
  box-shadow: -6px 0px 10px -2px #00000050;
}

.main {
  background: var(--main-bg-image);
  background-size: cover;
  background-position: right center;
  position: absolute;
  margin-left: auto;
  border-left: 1px solid var(--background-color);
  transform-origin: left center;
  transition: transform 2s;
  margin-right: auto;
}

.cover {
  width: var(--width);
  height: var(--height);
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  perspective: 1000px;
  border-left: 2px solid black;
}

.cover-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-origin: left center;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.cover-front,
.cover-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cover-front {
  background-image: var(--cover-front-bg-image);
  background-size: cover;
}

.cover-back {
  background-image: var(--cover-inside-bg-image);
  background-size: cover;
  box-shadow: 2px 0px 10px -2px #00000050;
  transform: rotateY(180deg);
}

#unfold {
  display: none;
}

#unfold:checked ~ .wedding-invitation {
  transform: translateX(calc(var(--width) / 2));
}

#unfold:checked ~ label .cover-inner {
  transform: rotateY(-180deg);
}

#unfold:checked ~ label .blinking {
  opacity: 0;
}

.blinking {
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  top: calc(-100% - 0.5em);
  transition: 0.2s;
}

.blinking-inner {
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blinking-dot {
  width: 15px;
  height: 15px;
  background-color: var(--foreground-color);
  border-radius: 50%;
  position: relative;
  top: 0;
}

.blinking-ring {
  border: 3px solid var(--foreground-color);
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: relative;
  top: 0;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.stretch {
  width: var(--width);
  height: var(--height);
}

.flap-content {
    height: 90%;
    justify-content: center;
    align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}

.cover-content {
  height: 100%;
  padding: 0em;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: Amatic SC, cursive;
  font-size: clamp(1rem, 10vw, 2rem);
  margin: 0;
}

p {
    font-size: 12px;
    text-align: start;
    font-family: "Poppins";
    font-weight: 300;
}

/* .contain {
    width: 100%;
    border: 1px solid red;
} */
.image {
    width: 60%;
    transform: rotate(10deg);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* 
button {
    background: transparent;
    width: 60%;
    outline: none;
    
    border: none;
    cursor: pointer;
} */

.image {
  width: 60%;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.image:hover {
  transform: scale(1.75);
}
