body{
    background-color: #e3ebd1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.envelope {
    width: 300px;
    height: 200px;
    position: relative;
    background-color: #267cec;
    cursor: pointer;
}

.top-side{
    border-bottom: 150px solid #267cec;
    top: -150px;
    transform-origin: bottom;
    z-index: 6;
    transform: rotate(180deg);
    transition: all .8s ease;
    transition-delay: 0.6s;
}

.bottom-side{
    border-bottom: 150px solid #224ea1;
    position: absolute !important;
    bottom: 0;
    z-index: 4;
}

.top-side, .bottom-side {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    position: relative;
}

.left-side {
    border-left: 125px solid #2b598b;
    position: absolute;
    left: 0;
}

.right-side {
    border-right: 125px solid #2b598b;
    position: absolute;
    right: 0;
}

.left-side, .right-side {
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    top: 0;
    z-index: 4;
}

